

:root{
    --white--color:#fff;
    --primary-color:#2aa9ff;
    --primary-colorLow:#167abd;
}

.name-page{
    text-align: center;
    justify-content: center;
    font-size: 26pt;
}

.table-responsive td{
    text-align: left;
    color: black;
}

.buttonPlus {
    background-color: var(--primary-color); /* Green */
    border: none;
    color: var(--white--color);
    padding: 5px 10px;
    text-align: left;
    justify-content: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.buttonPlus:hover {
    background-color:var(--primary-colorLow);
    color: var(--white--color);
}
