

:root{
    --white--color:#fff;
}

tbody tr td{
    padding-right: 1rem;
}

.name-page{
    text-align: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.table-content{
    width: 79%;
}

.btn-view,
.btn-view>i:hover{
    color: var(--color-correct);
}

.btn-edit,
.btn-edit>i:hover{
    color: var(--color-alert);
}
.btn-delete,
.btn-delete>i:hover{
    color: var(--color-danger);
}

h2{

    list-style: none;
}
.text-back{
    list-style: none;

}
.card-body table{
    color:var(--text-color)
}
thead{
    background-color:var(--white--color);
    border-radius: 30px;
}

table tbody tr{
    background-color: var(--white--color);

}

a{
    margin: 2rem auto;
}


#td_pergunta{

    width: 50%;
    height: 50%;
}
