.gal_images .card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desp_submit{
    padding: 5px;
}

.add_img_desp{
    width: 600px;
}

.galerias_imgs_desportos{
    width: 100%;
    margin-bottom: 30px;
    
}

.galerias_imgs_desportos p a{
    width: 100%;
    color: white !important;
    border-radius: 0;
    font-size: 15pt;
    font-weight: bold;
}

.galerias_imgs_desportos p a:hover{
border-bottom: solid #1B272C 10px;
}

#searchbar_imgs{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.search_input_button{
    width: 600px !important;
}

.searchbtn{
    height: 100%;
}