* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #2aaaff;
    --color-primary2: #42B4FF;
    --color-primary3: #0E71B3;
    --color-red2: #a82b23;
}

a {
    color: white;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

.input-style{
    outline: none;
    border: none;
    border-bottom: 3px solid var(--color-primary);

}
.input-style:hover,
.input-style:checked{
    outline: none;
    border: none;
    border-bottom: 3px solid var(--color-primary3);
}

.footer {
    margin-top: 0px !important;
}

.container-fluid {
    padding: 0 !important;
}
.cont-user {
    display: flex;
    flex-direction: row;
}

/* img navbar */
.img-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-primary3);
    overflow: hidden;
}
.img-user img{
    width: 100%;
}
/* img navbar  end */

/* btn options nav profile */
.btn-nav-profile {
    background-color: transparent;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
    border: none;
    width: max-content;
    padding: 0;
    padding-right: 3rem;
}

.btn-nav-profile a {
    color: black;
}

.btn-nav-profile a:hover {
    border-bottom: 3px solid var(--color-primary);
    color: black;
}

.btn-nav-profile .del a:hover {
    border-bottom: 3px solid var(--color-red2);
}

.btn-nav-profile:active {
    position: relative;
    top: 1px;
}
/* btn options nav profile end */



/* Previsualizar img  */

.file-input {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.file-input input[type="file"] {
    display: none;
}

.img-preview {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid var(--color-primary3);
    overflow: hidden;
}

.img-preview img {
    width: 100%;

}
/* Previsualizar img  end */

/* Delete account */
.delete-div{
    padding: 1.5rem ;
    background-color: rgba(255, 251, 235, 1);
}
.delete-div p:first-child{
    color: #92400e;
    font-size: 1.6rem;
}
.delete-div p:first-child i{
    color: #FBBF24;
    margin-right: 0.6rem;
}

.delete-div p:nth-child(2){
    font-size: 1.2rem;
}
.delete-div p:last-child{
    color:rgba(221, 52, 76, 1);
}

.delete-div .text-warming{
    padding-left: 2.5rem;
    color:rgba(180, 83, 9, 1);
}

.btwarming{
    background-color: #FBBF24 !important;
}
/* Delete account  end*/

@media (max-with:1023) {

    .nav-profile .profile-logout p,
    .nav-profile .profile-logout i {
        visibility: hidden;
    }
}
