.p-info {
    font-size: 13px;
}

.escola {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 900;
    font-size: 45pt;
    margin-bottom: 20px;
}

.care{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 900;
    font-size: 14pt;
    margin-bottom: 20px;
    color: #2AA9FF;
}

.cor{
    color: #2AA9FF !important;
}
