/*============Carrossel=============*/
.carousel-indicators {
    height: 20px;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 50pt;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.giftitle{
    width: 1000px;
}

/*============Carrossel FIM=============*/

/*============Botoes Depois do Carrossel=============*/
#info_Row {
    width: 100%;
    overflow-x: hidden;
}

#info_Row a{
    padding: 0 !important;
}

.info_home {
    display: flex;
    align-items: center;
    padding-right: 0 !important;
    height: 100px;
}

#info_Row .info_home {
    background-color: #1B272C;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    justify-content: center;
}

#info_Row .info_home:hover {
    background-color: #2AA9FF;
}

.info_home h3 {
    color: white;
    padding: 30px;
    font-family: 'Raleway', sans-serif !important;
    font-size: 30pt;
}

/*============Botoes Depois do Carrossel FIM=============*/

/*============Seccao Desportos=============*/
.title_sections_home img{
    width: 100%;
    position: absolute;
    z-index: -10;
    animation: wipe-enter 2s;
}

.title_sections_home h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
    font-size: 32pt;
    position: absolute;
    height: 170px;
    width: 100%;
    color: white;
    z-index: -9;
    animation: wipe-enter 2s;
}

#card_section{
    display: flex;
    
}

#card_section a{
    padding: 0 !important;
    width: 300px !important;
}

#card_section .cartas_home{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: -1000;
}

.cartas_home img{
    border-radius: 0 !important;
}

.cartas_home{
    width: 100%;
    height: 100%;
}

.card_titulo{
    padding: 10px !important;
    background-color: #1B272C;
    transition: ease-in-out 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px !important;

}

.card_titulo h5{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

#desportos_section a:hover .card_titulo{
    background-color: #2AA9FF !important;
} 

#desportos_section a:hover .card_titulo h5{
    font-size: 18pt !important;
}

.middlecard{
    animation: wipe-enter1 2s;
}

.nexttomiddlecard{
    animation: wipe-enter1 3s;
}

.outercard{
    animation: wipe-enter1 4s;
}


.animationnew{
    animation: wipe-enter 3s;
}

.animationnew2{
    animation: wipe-enter1 3s;
}

@keyframes wipe-enter {
	0% {
		top: 300px;
	}
	100% {
		top: 715px;
	}
}

@keyframes wipe-enter1 {
	0% {
		top:-500px;
	}
	100% {
		top: 0px;
	}
}

/*============Seccao Desportos FIM=============*/

/*============Seccao Aulas=============*/

 .card_aulas img {
    max-width: 100%;
  }
  .carousel-container {
    width: 1100px;
    margin: 50px auto;
    position: relative;
  }
  @media (max-width: 768px) {
    .carousel-container {
      width: 95%;
    }
  }
  .inner-carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }
  .card-container {
    width: 275px;
    height: 400px;
    flex-shrink: 0;
    padding-right: 10px;
  }
  @media (max-width: 768px) {
    .card-container {
      width: 184px;
    }
  }
  .card_aulas {
    width: 100%;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    background-position: center bottom;
    background-size: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .card1 {
    border-radius: 0px;
    border: solid 5px #1B272C;

  }

  .cardback_desp_azul{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 85%, rgba(22,172,255,1) 85%, rgba(42,169,255,1) 100%); 
  }

  .cardback_desp_cinza{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 85%, rgba(140,149,154,1) 85%, rgba(140,149,154,1) 100%); 
  }

  .card1 p{
    display: flex;
    justify-content: center;
    color: black;
  }

  .card1 .nome_desp{
    display: flex;
    align-items: center;
    font-size: 20pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #1B272C;
    height: 60px;
  }

  .card1 .local_aulas{
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    color: #2AA9FF;
  }

  .card1 .data_aulas{
    font-size: 15pt;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
  }

  .card1 p img{
    display: flex;
    margin: auto;
    align-content: flex-end;
    height: 220px;
  }
  
  .nav_carousel_aulas button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
  }
  .nav_carousel_aulas .prev_aulas {
    left: -30px;
    display: none;
  }
  .nav_carousel_aulas .prev_aulas.show {
    display: block;
  }
  .nav_carousel_aulas .next_aulas {
    right: -30px;
  }
  .nav_carousel_aulas .next_aulas.hide {
    display: none;
  }

  .title_sections_home_aulas{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title_sections_home_aulas img{
    width: 75%;
    z-index: 0;
  }

  .title_sections_home_aulas h3{
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
    position: absolute;
    font-size: 32pt;
    color: white;
    z-index: 1;
  }

/*============Seccao Aulas FIM=============*/

/*============Seccao Loja=============*/

.titulo_sec_loja{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_sec_loja h3{
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold;
  position: absolute;
  font-size: 26pt;
  color: white;
  margin-bottom: 30px;
}

.triangletitle_loja {
  width: 50%;
}

/*============Seccao Loja FIM=============*/