body{
    overflow-x: hidden;
}


/*--------------------------------------------------------------
# LOADER
--------------------------------------------------------------*/

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2AA9FF;
    display: flex;
    align-items: center;
    z-index: 9999;
  }

  .loader {
    width: 100%;
    height: 15px;
    text-align: center;
  }

  .dot {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
  }

  .dot:first-child:before {
    animation-delay: 0ms;
  }

  .dot:first-child:after {
    animation-delay: 0ms;
  }

  .dot:last-child:before {
    animation-delay: 200ms;
  }

  .dot:last-child:after {
    animation-delay: 200ms;
  }

  .dot:before{
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: blue;
    animation-name: dotHover;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82,0,.26,1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    background: white;
    border-radius: 100%;
  }

  .dot:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    box-shadow: 0px 0px 1px black;
    opacity: .20;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
    border-radius: 100%;
    animation-name: dotShadow;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82,0,.26,1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
  }

  @keyframes dotShadow {
    0% {
      transform: scaleX(1);
    }
    50% {
      opacity: 0;
      transform: scaleX(.6);
    }
    100% {
      transform: scaleX(1);
    }
  }

  @keyframes dotHover {
    0% {
      top: 0px;
    }
    50% {
      top: -50px;
      transform: scale(1.1);
    }
    100% {
      top: 0;
    }
  }




/*============NAVBAR=============*/
nav {
    z-index: 100;
    padding: 0 !important;
}

.navedit{
  padding: 0 !important;
}

.bugfix_boot {
  position: absolute;
  margin: 0px;
  transform: translate(-100px, 0px);
}

nav ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    background-color: white;
    align-items: center;
}

nav li {
    float: right;
}

nav li a {
    background-color: white !important;
    color: #1B272C !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
    height: 60px !important;
    display: flex !important;
    align-content: space-around !important;
    flex-wrap: wrap !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 12pt !important;
    transition: .5s ease-in-out !important;
    border-radius: 0 !important;
}

nav .nav_option li a:hover {
    background-color: #2AA9FF !important;
    color: white !important;
    font-size: 14pt !important;
    font-weight: bold !important;
}

.nav_option a:focus {
    background-color: #2AA9FF !important;
    color: white !important;
    font-size: 14pt !important;
    font-weight: bold !important;
}

#nav_Logo {
    width: 130px;
    margin-left: 15px;
}

#li_Logo {
    float: left;
}

.nav_option {
    height: 60px;
}

#phone_Icon {
    width: 30px;
    margin-right: 10px;
}

#phone_Group {
    background-color: #1B272C !important;
    color: white !important;
}

#navbar {
    z-index: 100;
    height: 60px;
}

.dropdown-menu a {
    background-color: white !important;
    color: #1B272C !important;
    font-size: 10pt !important;
    border-bottom: #2AA9FF 5px solid;
    width: 160px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
}

.dropbtn_nav .drop_desportos a:hover {
    background-color: white !important;
    color: #1B272C !important;
    text-shadow: none !important;
    font-size: 12pt !important;
    border-bottom: #2AA9FF 10px solid;
    font-weight: bold !important;
}

.dropbtn_nav .drop_perfil a:hover {
    background-color: white !important;
    color: #1B272C !important;
    text-shadow: none !important;
    font-size: 12pt !important;
    border-bottom: #2AA9FF 10px solid;
    font-weight: bold !important;
}


.drop_desportos.show {
    border-radius: 0 !important;
    display: flex !important;
    flex-direction: column;
}

.drop_perfil.show {
    border-radius: 0 !important;
    display: flex !important;
    flex-direction: column;
}

.desp_btn_nav {
    font-weight: normal !important;
    margin: 0 !important;
}

#profile_Icon_Box {
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: #2AA9FF !important;
    justify-content: center;
}

#profile_Icon {
    width: 30px;
}

.btn1{
    width: auto;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
  
  nav li {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  nav li a {
    width: 100%;
    background-color: white !important;
    color: #1B272C !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important;
    height: 60px !important;
    display: flex !important;
    align-content: space-around !important;
    flex-wrap: wrap !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 12pt !important;
    transition: .5s ease-in-out !important;
    border-radius: 0 !important;
}
}
/*============NAVBAR FIM=============*/
