*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

 /* variable */

:root{
    --blue:#2AA9FF;
    --blue3:#0E71B3;
    --blue2:#1B272C;
    --grey:#8C959A;
    --with:#ffffff;
}

.text{
    text-align: center;
    margin-bottom: .30rem;
    align-items: center;
    align-content: center;
}
.text hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, var(--with), var(--blue), var(--with));
}
.text p {
    max-width: 60% auto;

}

.title{
    font-size: 50px;
    text-align: center;
    text-decoration: underline 4px;
}

.questions-container{
    max-width: 45em;
    margin: 0 auto;
}
.container:hover{
    background-color: none !important;
}

.question{
    border-bottom: 1px solid var(--with);
}
.question button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border:none;
    outline: none;
    font-size: 12pt;
    color:var(--blue2);
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 11pt;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: var(--blue);
}

/*add this class when click*/
.question p.show{
    margin-top: 1.5em;
    max-height: 200px;
    opacity: 1;
    padding:0px 15px 30px 15px;
    border-left: 2px solid var(--blue);
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}
