.text{
    margin-top: 8em;
    text-align: center;
}
.text hr{
    align-content: center;
    width: 20%;
    height: auto;
    color:#2AA9FF
}
.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #2AA9FF ;
}
.effect-1 ~ .Focus-border{
    position: absolute;
    bottom:0.01;
    left: 50%;
    width:0;
    height: 2px;
    background-color: #2AA9FF;
    transition: 0.4s;

}
.effect-1:focus ~ .Focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;

}

.btn1{
    background-color: #8C959A;
    color: #1B272C;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
}
.btn1:hover{
    background-color: #2AA9FF;
}