.tosta {
    position: fixed;
    bottom: 75%;
    left: 79% ;
    width: fit-content;
    height: fit-content;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    opacity:100% !important;
    z-index:100000000000;
}

/* show the toast when .toast-show is added to the .toast element */
.warming{
    background-color:#f9c605;
    color: black;
}
.success{
    background-color: green;
}
